<?xml version="1.0" encoding="UTF-8"?>
<config>
    <sections>
        <dev>
            <groups>
                <js>
                    <fields>
                        <merge_version translate="label">
                            <label>Merge Version</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </merge_version>
                    </fields>
                </js>
                <css>
                    <fields>
                        <merge_version translate="label">
                            <label>Merge Version</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </merge_version>
                    </fields>
                </css>
            </groups>
        </dev>
    </sections>
</config>